.games_container {
    border: 2px solid red;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.games_cover-img {
    width: 100%;
    max-width: 150px;
    height: auto;
    max-height: 225px;
}